body, html {
    margin: 0;
}

div, span {
    color: #fff;
    background-color: black;
    /* border: 20px solid green; */
    border-radius: 8px;
}

div {
    width: 100%;
    overflow: visible;
    text-align: start;
    box-sizing: border-box;

    /* padding: 10px 20px 30px 40px; */
    /* padding-left: 10px;
    padding-right: 20px;
    padding-bottom: 30px;
    padding-top: 40px; */

    /* margin: 10px; */
}

span {
    font-size: 20px;
    height: 100px;
    width: 100px;
    /* padding: 0 20px; */

}



.parent {
    width: 300px;
    height: 300px;
    background-color: red;
    padding: 25px;
}

.child {
    width: 100%;
    /* height: 100px; */
    background-color: blue;

    margin: 10px;
    padding: 10px;
}

.grandchild {
    
    width: 50px;
    height: 50px;
    background-color: green;

    margin: 10px;
}