input {
    padding: 8px;
    font-size: 20px;
    color: red;
    margin: 10px;
    border: none;
    border-bottom: 1px dotted green;
    /* border-radius: 8px; */
    outline: none;
}

input:focus-within {
    box-shadow: -4px -2px 2px green inset;
}

input::placeholder {
    color: rgba(0, 0, 0, 0.3)
}

textarea {
    width: 100%;
}