/* Универсаьлный селектр */

    /* * {
        margin: 0;
        margin-left: 20px;
        padding: 0;
        list-style-type: none;
    } */
/* body {


    margin: 0   ;
}
.img_cont {
    margin: 0;
    width: 100%;
    height: 300px;

    border: 1px solid black;

    background-color: aqua;
    background-image: url('https://us-fbcloud.net/hottopic/data/1111/1111414.x8ujce192jsr.n2.webp');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.bg-img {
    padding: 200px;

}

.img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.fan {
    border-bottom: 1px solid red;
}

.fan::before {
    font-size: 24px;
    color: red;
}

.t_cont {
    padding-left: 40px;
} */
