/* .container {
    display: flex;
    gap: 8px;
    flex-wrap: wrap;
} */
/* 
.item {
    height: 200px;
    flex: 1 0 200px;
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: 200px;
    background-color: black;
}
 */
/* 
.container {
    display: grid;
    gap: 8px;
}

.item {
    height: 200px;
    background-color: black;
}

@media (min-width: 767px) {
    .container {
        grid-template-columns: 1fr 1fr;
    }

    .item:first-of-type {
        background-color: aqua;
    }
}

@media (min-width: 1023px) {
    .container {
        grid-template-columns: repeat(3, 1fr);
    }

    .item:first-of-type {
        background-color: red;
    }
} */


/* .container {
    display: flex;
    flex-direction: column;
    gap: 8px
} 

.item {
    flex: 1 0 200px;
    height: 200px;
    background-color: black;
}

@media (orientation: landscape) {
    .container {
        flex-direction: row;
        flex-wrap: wrap;
    }

    .item {
        background-color: green;
    }
} */

/* :root {
    --dark: black;
    --light: white;
}

.container {
    display: grid;
    gap: 8px
}

.item {
    font-size: 24px;
    line-height: 1.5em;
}

@media (prefers-color-scheme: light) {
    html {
        background-color: var(--light);
    }

    .item {
        color: var(--dark);
        background-color: lightgray;
    }
}

@media (prefers-color-scheme: dark) {
    html {
        background-color: var(--dark);
    }

    .item {
        color: var(--light);
        background-color: darkblue;
    }
} */

@media (prefers-color-scheme: light) {
    :root {
        --globalBC: #fff;
        --textColor: #000;
        --cardBC: #fff000
    }
}

@media (prefers-color-scheme: dark) {
    :root {
        --globalBC: #000;
        --textColor: #fff;
        --cardBC: #000fff
    }
}

html {
    background-color: var(--globalBC);
}

.container {
    display: grid;
    gap: 8px
}

.item {
    font-size: 24px;
    line-height: 1.5em;
    background-color: var(--BC);
    color: var(--textColor)
}

