body {
    display: flex;
    height: 100vh;
    border:50px solid;
    gap: 10px;
    justify-content: center;
    align-items:center;        
}

div {
    width: 200px;
    height: 100px;
    color:rgba(255,255,255);
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
}

.red{
    background-color: red;
}

.blue{
    background-color: blue;
}

.green{
    background-color: green;
}