html {
    background-color: aquamarine;
}

body {
    width: 100%;
    height: 100%;
    border: 5px black solid;
    
}
img {
    width: 100%;
    margin: 0px;
    border: 10px blue solid;
    box-sizing: border-box;
    object-fit: cover;
}