html {
    background-color: aquamarine;
}

body {
    
    min-height: 100vh;
    width: 100%;
    /* border: 5px black solid; */
    margin: 0px;
    
}
img {
    width: auto;
    height: 100%;
    margin: 0px;
    border: 10px blue solid;
    box-sizing: border-box;
    object-fit: contain;
}

.bg_img {
    background-image: url('./Boat_Rockerz_323.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: scroll;
}