html {
    background-color: lightblue;
}

body {
    display: flex;
    /*width: 1000px;
    height: 600px;*/
    border: 1px solid;
    border-color: blue;
    background-color: green;
    
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

div {
    /*width: 200px;
    height: 300px;*/
    /*border: 1px solid;
    border-color: rgb(10, 182, 239);
    border-radius: 50%;*/

    font-family: "Courier New" Courier monospace;
    font-size: 21px;
    font-style: italic;
    font-weight: 500;
    font-stretch: 10%;
    /*font-variant: small-caps;*/
    
    padding: 5px;
    /*margin: 10px;*/
    overflow-wrap: breake-word;
    word-break: break-all;
    overflow: hidden;
    box-sizing: border-box;
    line-height: 150%;

    }

.grow_1 {
    flex-grow: 0;
    align-self: start;
}
.box1 {
    display: flex;
    width: max-content;
    height: max-content;

    background-color: white;
    border-radius: 50%;
}

.box2 {
    display: flex;
    width: max-content;
    height: max-content;
}

.white_color {
    background-color: white;
    border-radius: 50%;
}

.box3 {
    display: flex;
    width: 900px;
    height: 300px;
    justify-content: center;
    gap: 10px;
    text-align: center;

    
}

.box3_1 {
    width: 200px;
    height: 300px;
    background-color: rgb(161, 244, 247);
    
    
}

.box3_2 {
    width: 200px;
    height: 300px;
    background-color: rgb(186, 245, 184);
}

.box3_3 {
    width: 200px;
    height: 300px;
    background-color: rgb(233, 220, 232);
}
