html {
    background-color: lightblue;
}

body {
    width: max-content;
    height: max-content;
    border: 1px solid;
    border-color: red;
    background-color: green;
    
    

}

div {
    width: 150px;
    height: 150px;
    border: 5px solid;
    border-color: blue;
    font-family: "Courier New" Courier monospace;
    font-size: 10px;
    padding: 5px;
    overflow-wrap: breake-word;
    word-break: break-all;
    overflow: hidden;
    box-sizing: border-box;
}