html {
    background-color: lightblue;
}

body {
    width: max-content;
    height: max-content;
    border: 5px solid;
    border-color: blue;
    background-color: green;
}

div {
    width: 1900px;
    height: min-content;
    border: 5px solid;
    border-color: rgb(10, 182, 239);
    font-family: "Courier New" Courier monospace;
    font-size: 21px;
    padding: 5px;
    overflow-wrap: breake-word;
    word-break: break-all;
    overflow: hidden;
    box-sizing: border-box;
    line-height: 150%;

    


}