
body {
    display: flex;
    height: 100vh;
    width: fit-content;
    flex-direction: column;
    flex-wrap: wrap;

  
    align-items: flex-start;
    border: red solid;
    margin: 0;
    padding: 0;
    gap: 20px;

    overflow: auto;
    box-shadow: 20px 20px 30px red;
}

div {
    display: flex;
    flex-direction: column;
    
    max-height: fit-content;
    border: blue solid;
    flex-basis: 50px;
    max-width: 300px;
    flex-grow: 1;
    flex-shrink: 1;
    padding: 0 20px 0 20px;    
    box-sizing: border-box;
    box-shadow: 10px 10px 10px blue;
}

.text_indent {
    text-indent: 30px;
}