html {
    font-family:'Montserrat';
    background-color:#383333;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h2 p {
    margin: 0;
}

.menu_header_bg {
    display: flex;
    width: 1440px;
    height: 81px;
    angle: 0 deg;
    opacity: 1;
    background-color: rgb(16, 185, 129, 1);
    justify-content: center;
    align-items: center;
}
.menu_header_navigar {
    display: flex;
    width: 521px;
    height: 24px;
    
    opacity: 1;
    gap: 75px;
    justify-content: center;
    align-items: center;
}

.menu_header_elem {
    display: flex;
    width: 90px;
    height: 24px;
    angle: 0 deg;
    opacity: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

.menu_header_text {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.section_1 {
    display: flex;
    width: 1440px;
    height: 650px;
    background-color: white;
    justify-content: space-between;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.main-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-wrap: breake-word;
    word-break: break-all;
    align-items: center;
    justify-content: center;
    margin-left: 0px;
    gap: 20px;
}

.text_tittle {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
}

.text_articl {
    font-weight: 500;
    font-style: Medium;
    font-size: 21px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
}

.button_buy_now {
    width: 263px;
    height: 70px;
    angle: 0 deg;
    opacity: 1;  
    background-color: #10B981;
    box-shadow: 0px 25px 50px rgba(190, 148, 148, 0.1);
    border-radius: 10px;
    
    font-weight: 550;
    font-style: SemiBold;
    font-size: 21px;
    color: rgba(255,255,255,1);
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%
}

.margin_button_buy_now {
    align-self: center;
    margin-left: -160px;
}

.main-container_2 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    align-items:center;
    margin-right: 200px;
}

.product_name_text {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}
.product-container {
    display: flex;
    width: 272px;
    height: 477px;
    border: 1px solid;
    border-radius: 136px;
    background-color: rgba(236, 254, 244, 1);
    background-size:cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.img_product_Red_Beats {
    width: 280px;
    height: 299px;
    object-position: center;
    box-sizing: border-box;
}

.text_price {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 31px;
    leading-trim: NONE;
    line-height: 100%;
    text-align:center;
}

.section_2 {
    display: flex;
    width: 1440px;
    height: 591px;
    background: rgba(132, 94, 194, 1);
    color: rgba(255, 255, 255, 1);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    angle: 0 deg;
    opacity: 1;
    border-width: 1px;
    justify-content: center;
    align-items: center;
}
.main-container_3 {
    display: flex;
    width: 100%;
    height: auto;
    
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.product_name_text_Apple_Airpod {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.img_product_Apple_Airpod {
    display: flex;
    width: 623.43px;
    height: 402px;
    
    angle: 0 deg;
    opacity: 1;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.img_product_Apple_Airpod_size {
    width: 189.13px;
    height: 331px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 179px;
}

.img_height {
    align-self: start;
}

.img_product_Apple_Airpod_cover {
    object-fit: cover;
}

.text_price_Apple_Airpod_color {
    color: rgba(255, 255, 255, 1);
}

.main-container_4 {
    display: flex;
    width: 100%;
    height: auto;
    
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.text_tittle_main-conteiner_4_size {
    font-size: 44px;

}




.main-container {
    position:relative;
    width: 1333px;
    height: 829px;
    background-color:#FFFFFF;
    
    color:#d40909
    }
.product-grid{
    position:absolute;
    width:100%;
    background-color:#FFFFFF;
    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 50px auto;

}

.products-card{
    position:absolute;
    width:100%;
    background-color:#FFFFFF;
    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 50px auto;

}
.card-container {
    position: relative;
    width: 361px;
    height: 438px;
    background-size:cover;
    background-position: center;
    angle: 0 deg;
    opacity: 1;
    border-radius: 15px;
}


.card-container--blue {
    background-color: rgba(236, 254, 244, 1);
}

.card-container--green {
    background-color: rgba(201, 242, 255, 1);
;
}
.card-container--red {
    background-color: rgba(229, 213, 255, 1);
}
.card-img {
    position:absolute;
    top: 20px;
    left: 50%;
    transform:translateX(-50%);
    width: 196px;
    height: 196px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.card-container-child {
    position:absolute;
    width: 319;
    height: 164;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background-color:#FFFFFF;
    border-radius: 10px;
}


.button_add-to-cart {
    width: 361px;
    height: 70px;
    margin: 500px 0px;
    background-color: #10B981;
    box-shadow: 0px 25px 50px rgba(190, 148, 148, 0.1);
    border-radius: 10px;
    font-weight: 550;
    font-style: SemiBold;
    font-size: 21px;
    color: rgba(255,255,255,1);
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%
}






