html {
    display: flex;
    font-family:'Montserrat';
    background-color:#383333;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    align-items: center;
    justify-content: center;

}

h2 p {
    margin: 0;
}

/*body {
    padding: 20px;
    display: flex;
    direction: column;
    justify-content: center;
}
*/
.menu_header_bg {
    display: flex;
    width: 1440px;
    height: 81px;
    angle: 0 deg;
    opacity: 1;
    background-color: rgb(16, 185, 129, 1);
    justify-content: center;
    align-items: center;
}
.menu_header_navigar {
    display: flex;
    width: 521px;
    height: 24px;
    
    opacity: 1;
    gap: 75px;
    justify-content: center;
    align-items: center;
}

.menu_header_elem {
    display: flex;
    width: 90px;
    height: 24px;
    angle: 0 deg;
    opacity: 1;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

.menu_header_text {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    text-decoration: none;
}

.section_1 {
    display: flex;
    width: 1440px;
    height: 650px;
    background-color: white;
    justify-content: start;
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.main-container_1 {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    overflow-wrap: breake-word;
    word-break: break-all;
    align-items: start;
    justify-content: center;
    margin-left: 70px;

}

.text_tittle {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 64px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
}

.text_articl {
    font-weight: 500;
    font-style: Medium;
    font-size: 21px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;
}

.button_buy_now {
    width: 263px;
    height: 70px;
    angle: 0 deg;
    opacity: 1;  
    background-color: #10B981;
    box-shadow: 0px 25px 50px rgba(190, 148, 148, 0.1);
    border-radius: 10px;
    
    font-weight: 550;
    font-style: SemiBold;
    font-size: 21px;
    color: rgba(255,255,255,1);
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%
}

/*.margin_button_buy_now {
    align-self: center;
    margin-left: -160px;
}*/

.main-container_2 {
    display: flex;
    flex-direction: column;
    width: auto;
    height: 100%;
    align-items:center;
    margin-right: 200px;
}

.product_name_text {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 40px;
    line-height: 100%;
    letter-spacing: 0%;
    vertical-align: middle;
    width: 100%;
    text-align: center;
}
.product-container {
    display: flex;
    width: 272px;
    height: 477px;
    border: 1px solid;
    border-radius: 136px;
    background-color: rgba(236, 254, 244, 1);
    background-size:cover;
    background-position: center;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
}
.img_product_Red_Beats {
    width: 280px;
    height: 299px;
    object-position: center;
    box-sizing: border-box;
}

.text_price {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 31px;
    leading-trim: NONE;
    line-height: 100%;
    text-align:center;
}

.section_2 {
    display: flex;
    width: 1440px;
    height: 591px;
    background: rgba(132, 94, 194, 1);
    color: rgba(255, 255, 255, 1);
    flex-grow: 1;
    flex-shrink: 1;
    flex-basis: 0%;
    angle: 0 deg;
    opacity: 1;
    border-width: 1px;
    justify-content: center;
    align-items: center;
}
.main-container_3 {
    display: flex;
    width: 100%;
    height: auto;
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}

.product_name_text_Apple_Airpod {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 60px;
    color: rgba(255, 255, 255, 1);
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
}

.img_product_Apple_Airpod {
    display: flex;
    width: 623.43px;
    height: 402px;
    
    angle: 0 deg;
    opacity: 1;
    justify-content: center;
    align-items: center;
    gap: 30px;
}

.img_product_Apple_Airpod_size {
    width: 189.13px;
    height: 331px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 179px;
}

.img_height {
    align-self: start;
}

.img_product_Apple_Airpod_cover {
    object-fit: cover;
}

.text_price_Apple_Airpod_color {
    color: rgba(255, 255, 255, 1);
}

.main-container_4 {
    display: flex;
    width: 100%;
    height: auto;
    
    box-sizing: border-box;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.text_tittle_main-conteiner_4_size {
    font-size: 44px;

}

.flex_batton {
    display: flex;
    width: 100%;
    height: auto;
    justify-content: center;
}

.button_add-to-cart_conteiner_4 {
    width: 263.18px;
    height: 70px;
    background-color: #10B981;
    box-shadow: 0px 25px 50px rgba(190, 148, 148, 0.1);
    border-radius: 10px;
    
    font-weight: 550;
    font-style: SemiBold;
    font-size: 21px;
    color: rgba(255,255,255,1);
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%
}
 
.button_View_more_conteiner_4 {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 21px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    }

.section_3 {
    display: flex;
    width: 1333px;
    height: 829px;
    flex-direction: column;
    background-color:#FFFFFF;
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    border:#10B981 solid;
    gap: 50px;    
    }

.main-category_product {
    display: flex;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    justify-content: center;
    align-items: center;

    text-align: center;
}
.category_product_conteiner {
    display: flex;
    align-items: center;
    justify-content: start;


}
.category_product {
    width: 177px;
    height: 91px;
    angle: 0 deg;
    opacity: 1;
    background-color: rgba(16, 185, 129, 1);
    border-radius: 50%;
    text-align: center;
}

.category_product_text {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 26px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;   

}
.product-grid {
    display: flex;
    width: 100%;
    height: auto;
    border: #e21818 solid;
    justify-content: center;
    

}
.product-cart {
    display: flex;
    width: 361px;
    height: 438px;
    flex-direction: column;
    /* background-size:cover;
    background-position: center; */
    angle: 0 deg;
    opacity: 1;
    border-radius: 15px;
    border: 1px solid;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.card-img {
/*    top: 20px;
    left: 50%;
    transform:translateX(-50%);*/
    width: 196px;
    height: 196px;
    object-fit: cover;
    /*display: block*/
    border-radius: 10px;
    border: 1px solid;
    text-align: center;
}

.card-container-child {
    width: 319px;
    height: 164px;
    background-color:#FFFFFF;
    border-radius: 10px;
}
.name_product_cart {
    font-weight: 500;
    font-style: Medium;
    font-size: 21px;
    leading-trim: NONE;
    line-height: 35px;
    letter-spacing: 0%;    
}

.price_product_cart {
    font-weight: 600;
    font-style: SemiBold;
    font-size: 21px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
}

.section_5 {
    display: flex;
    width: 1439px;
    height: 765px;
    flex-direction: column;
    justify-content: space-between;
    angle: 0 deg;
    opacity: 1;
    background-color: rgba(255, 255, 255, 1);
}

.product-cart_section_5 {
    display: flex;
    width: 1439px;
    height: 591px;
    angle: 0 deg;
    opacity: 1;

    background-color: rgba(132, 94, 194, 1);
 

}
.main-container_5 {
    display: flex;
    width: 521.36px;
    height: 468px;
    gap: 30px;
    margin-top: 50px;
    margin-left: 100px;

    angle: 0 deg;
    opacity: 1;

}

.img_main-conteiner_5_size {
    width: 237.78px;
    height: 417px;
    angle: 0 deg;
    opacity: 1;
    border-radius: 179px;
    object-fit: cover;

}

.img_main-conteiner_5_down {
    margin: 50px;
}
.main-conteiner_6 {
    display: flex;
    width: 584px;
    height: 446px;
    flex-direction: column;
    align-items: start;
    margin-left: 100px;
    angle: 0 deg;
    opacity: 1;
    color: #FFFFFF;

}

.chenge_color {
    display: flex;
    width: 196px;
    height: 43px;
    angle: 0 deg;
    opacity: 1;
    border-width: 1px;
    border: 1px solid rgba(255, 0, 0, 1);

    justify-content: space-between;
    align-items: center;

}
    
.circule { 
    width: 43px;
    height: 43px;
    angle: 0 deg;
    opacity: 1;
    border-width: 1px;
    
    border-radius: 50%;
}
.circule--black {
    background: rgba(17, 17, 17, 1);
    border: 1px solid rgba(255, 0, 0, 1);
}

.circule--yellow {
    background: rgba(255, 245, 0, 1);
}

.circule--blue {
    background: rgba(68, 132, 255, 1);

}

/* .button_add-to-cart {
    width: 361px;
    height: 70px;
    margin: 500px 0px;
    background-color: #10B981;
    box-shadow: 0px 25px 50px rgba(190, 148, 148, 0.1);
    border-radius: 10px;
    font-weight: 550;
    font-style: SemiBold;
    font-size: 21px;
    color: rgba(255,255,255,1);
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%
} */


/* .products-card{
    position:absolute;
    width:100%;
    background-color:#FFFFFF;
    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 50px auto;

} */

.button_add-to-cart {
    width: 361px;
    height: 70px;
    background-color: #10B981;
    box-shadow: 0px 25px 50px rgba(190, 148, 148, 0.1);
    border-radius: 10px;
    font-weight: 550;
    font-style: SemiBold;
    font-size: 21px;
    color: rgba(255,255,255,1);
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%
}
.card-container--blue {
    background-color: rgba(236, 254, 244, 1);
}

.card-container--green {
    background-color: rgba(201, 242, 255, 1);
;
}
.card-container--red {
    background-color: rgba(229, 213, 255, 1);
}

.card-container--blue_2 {
    background-color: rgba(224, 239, 255, 1);
;
}
.card-container--blue_3 {
    background-color: rgba(232, 249, 255, 1);
;
}
.card-container--blue_4 {
    background-color: rgba(211, 251, 251, 1);
}
/* .card-img {
    position:absolute;
    top: 20px;
    left: 50%;
    transform:translateX(-50%);
    width: 196px;
    height: 196px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
} */

/* .card-container-child {
    position:absolute;
    width: 319;
    height: 164;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background-color:#FFFFFF;
    border-radius: 10px;
} */









