html {
    font-family:'Montserrat';
    background-color:#383333;
}



.menu_header {
    font-family: Montserrat;
    font-weight: 600;
    font-style: SemiBold;
    font-size: 20px;
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%;
    color: rgba(255, 255, 255, 1);
    background-color: rgb(16, 185, 129, 1);
}

h1 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 64px;
    line-height: 78px;
    color: #2B2626;
}
h2 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 60px;
    line-height: 73px;
    border: 1px solid #FFFFFF;
}

h3 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 44px;
    line-height: 54px;
    color: #2B2626;
}

h4 {
    font-family : "Montserrat";
    font-style : "italic";
    font-weight : 400;
    font-size : 40px;
    line-height : 49px;
    color :#10B981;
}

h5 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 31px;
    line-height: 38px;
    color: #2B2626;
}

h6 {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 600;
    font-size: 26px;
    line-height: 32px;
    color: #000000;
}

h7 {

    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 22px;
    line-height: 29px;
    letter-spacing: -0.3px;
    color: #111111;
}

h8 {
    font-family: 'DM Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 22px;
    letter-spacing: -0.231818px;
    color: #10B981;
}

p {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 500;
    font-size: 21px;
    line-height: 35px;
    color: #2B2626;
}



.violet {
    background: rgba(132, 94, 194, 1);
    color: rgba(255, 255, 255, 1);
}


.main-container {
    position:relative;
    width: 1333px;
    height: 829px;
    background-color:#FFFFFF;
    margin: 50px auto;
    color:#d40909
    }
.product-grid{
    position:absolute;
    width:100%;
    background-color:#FFFFFF;
    display:flex;
    flex-direction: row;
    gap: 20px;
    justify-content: flex-start;
    flex-wrap: wrap;
    margin: 50px auto;

}

.product-card{

}
.card-container {
    position: relative;
    width: 361px;
    height: 438px;
    background-size:cover;
    background-position: center;
    angle: 0 deg;
    opacity: 1;
    border-radius: 15px;
}


.card-container--blue {
    background-color: rgba(236, 254, 244, 1);
}

.card-container--green {
    background-color: rgba(201, 242, 255, 1);
;
}
.card-container--red {
    background-color: rgba(229, 213, 255, 1);
}
.card-img {
    position:absolute;
    top: 20px;
    left: 50%;
    transform:translateX(-50%);
    width: 196px;
    height: 196px;
    object-fit: cover;
    display: block;
    border-radius: 10px;
}

.card-container-child {
    position:absolute;
    width: 319;
    height: 164;
    bottom: 10px;
    right: 10px;
    left: 10px;
    background-color:#FFFFFF;
    border-radius: 10px;
}


.add-to-cart {
    width: 361px;
    height: 70px;
    margin: 500px 0px;
    background-color: #10B981;
    box-shadow: 0px 25px 50px rgba(190, 148, 148, 0.1);
    border-radius: 10px;
    font-weight: 550;
    font-style: SemiBold;
    font-size: 21px;
    color: rgba(255,255,255,1);
    leading-trim: NONE;
    line-height: 100%;
    letter-spacing: 0%
}






