html{
    margin : 0px 0px;
    padding: 0px 0px;
}

#cartSearch{
    display: flex;
    flex-direction: column;
    width: 300px;
    border: 2px solid blue;
}

.inputDiv{
    display: flex;
    padding: 0px 0px;
    margin-right: 0px;
    justify-content: space-between;
    align-items: center;
    width: 100%;

}

#inputTitle, #inputType{
    width: 70%;
    appearance: auto;
    padding: 0 0 0 0;
}
#labelTitle{
    width: 70%;
    appearance: auto;
    padding: 0 0 0 0;
}
#ilabelTipe{
    width: 70%;
    appearance: auto;
    padding: 0 0 0 0;
}

#searchButton{
    width: 300px;
}

