/* Внешность элементов */

table {
    border-color: rgb(242, 8, 90);
    border-width: 2px;
    border-style: dotted;
}

td, th {
    border-color: rgb(5, 189, 21);
    border-width: 0.4px;
    border-style: dashed;
}