html
{
    text-align: center;
}
.btn_AddParagrafStyle
{
    width: 200px;
    height: 30px;
    font-size: 20px;

    background-color: rgb(189, 241, 139);

    border: 2px solid rgb(15, 88, 29);
    border-radius: 30px;

}

.btn_DellParagrafStyle
{
   width: 100px;
   height: 23px;
   font-size: 16px;

   background-color: rgb(7, 164, 65);
   border: 2 solid rgb(20, 41, 5);
   border-radius: 20px;
}
